[run]
parallel = True
concurrency = multiprocessing

source =
    bit.modules
    bit.cli.summarize_assembly

omit =
    */__init__.py

[report]
exclude_lines =
    # pragma: no cover
    if __name__ == .__main__.
