[run]
parallel = True
concurrency = multiprocessing

source =
    bit.modules
    bit.cli.summarize_assembly
    bit.cli.summarize_column

omit =
    bit/**/__init__.py

[report]
exclude_lines =
    # pragma: no cover
    if __name__ == .__main__.
